<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--连接字符串配置-->
	<connectionStrings>
		<add name="Sql1" connectionString="server=pluto;uid=sa;pwd=123456;Database=OADB"/>
	</connectionStrings>
	
	<!--应用程序配置-->
	<appSettings>
		<add key="Version" value="1.0.0.1"/>
		<add key="SqlConn" value="server=pluto;uid=sa;pwd=123456;Database=OADB"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>